@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@media only screen and (max-width: 768px) {
    
    .box{
        height: 35px;
        width: 35px;
        background-size: contain;
        border-radius: 7%;
    }

    .mainContent .box{
        height: 50px;
        width: 50px;
        border-radius: 13%;
    }
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000000;
}

.header-nav{
    font-family: 'Rubik', sans-serif;
    background-color: black;
    height: 4rem;
}

nav ul{
    list-style-type: none;
    color: white;
    font-size: 1.4rem;
}

.spotifylogotext{
    font-size: 1.8rem;
}

.sidebar{
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    height: 820px;
    background-color: #151515;
    font-family: 'Rubik', sans-serif;
}

.sidebarDivider1{
    height: 1rem;
    margin-top: 4rem;
    background-color: black;
}


.icons{
    scale: 1.5;
    color: #d4d4d4;
}

.sidebartext{
    color: #d4d4d4;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.sidebarDivider{
    height: 1rem;
    margin-top: 12px;
    background-color: black;
}

.sidebarbottom .row{
    margin-top: 1rem;
}

.box{
    height: 50px;
    width: 50px;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13%;
}

.playlistText{
    margin-left: 1rem;
}

.playlistText p:nth-child(1){
    color: white;
    font-size: 1.2rem;
    overflow-x: hidden;
}

.playlistText p:nth-child(2){
    color: #9e9e9e;
    font-size: 1rem;
    overflow-x: hidden;
}

.playlistText :nth-child(1):hover{
    cursor: pointer;
    text-decoration: underline;
}

.sidebarDivider2{ 
    height: 9rem;
    margin-top: 12px;
    background-color: #000000;
}

.footer{
    background-color: black;
    font-family: 'Rubik', sans-serif;
    height: 7rem;
}

.iconNav{
    color: #9e9e9e;
}

.iconNav:hover i{
    color: white;
}

.timeRange{
    color: white;
}

.progressBarLg{
    width: 30rem;
}

.progressBarSm{
    width: 70vw;
}

#soundRange{
    width: 5rem;
    cursor:pointer;
}

.mainContent{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2rem;
    margin-bottom: 12rem;
    background-color: #000000;
    font-family: 'Rubik', sans-serif;
}

.songListHead{
    color: #9e9e9e;
    font-weight: 400;
    font-size: 1rem;
}

.songListLike{
    color: #7a7a7a;
}

.songListLike:hover{
    color: #1ed760;
}

th, td{
    vertical-align: middle;
}

/* ----------------------------------------------------------------------------------
SMALL SCREEN
*/

.header-mobile{
    font-family: 'Rubik', sans-serif;
    background-color: #000000;
    width: 100%;
    height: 4rem;
}

/* Sidepanel */

.sidepanel {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #151515; /* Black*/
    overflow-y: scroll; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel menu */
.sidepanel-menu-list{
    height: 100%;
}

.sidepanel-menu-caret{
    color: #ffffff;
    font-size: 1.5rem;
}

.sidepanel-menu-nav p{
    font-size: 1.2rem;
    width: 65%;
    margin: 0;
    padding: 4px 10px 4px 10px;
}

/* The sidepanel links */
.sidepanel a{
    text-decoration: none;
    display: block;
}

.sidepanel-menu-nav a{
    text-decoration: none;
    font-size: 1rem;
    border: none;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 2rem;
    cursor: pointer;
    background-color: #fbfbfb00 ;
    color: #ffffff;
    border: none;
}

.openbtn:hover {
    cursor: pointer;
}

.nav-profile-mobile{
    scale: 85%;
}

.nav-icon-mobile{
    scale: 90%;
}


.mainContentsm{
    margin-top: 4rem;
    font-family: 'Rubik', sans-serif;
}


.extraMainContent{
    margin-top: -1rem;
    height: 7rem;
    background-color: #000000;
}

.sidebarDivider2sm{ 
    height: 5.5rem;
}
